[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==18.0"

[dev-packages]
"flake8" = "*"
pylint = "*"
pytest = "*"
twine = "*"
pytest-cov = "*"
